<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--是mybatis框架用来写SQL语句的文件   namespace用来作为文件的唯一标识-->
<mapper namespace="userMapperNS">
    <!--select用来表示执行查询
    id属性是当前SQL的唯一标识
    resultType属性用来完成ORM映射 把查询结果和指定类型的属性映射值
    -->
    <select id="getAll" resultType="cn.tedu.Mybatis.User">select * from user</select>
</mapper>